
//:root {
//	--
//}




@green: #0acf97;



//
//.m-card {
//
//	position: relative;
//	display: flex;
//	flex-direction: column;
//	min-width: 0;
//	word-wrap: break-word;
//	background-color: #fff;
//	border-radius: .25rem;
//
//	border: none;
//	box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
//	margin-bottom: 30px;
//	overflow: hidden;
//
//
//	margin: 30px 0;
//
//	&__head {
//		background-image: linear-gradient(134deg, #3023AE 0%, #C86DD7 100%);
//		color: white;
//		padding: 20px 0;
//	}
//}
//
//.m-person {
//	p
//}

.m-card-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  span {
    text-align: right;
  }
}
.m-pointline-block {
  position: relative;
  //	padding: 1px 0;
  margin-bottom: 30px;
  padding: 30px 0 0 30px;
  //	overflow: hidden;

  &__btn {
    padding-left: 50px;
    margin-top: 20px;
  }
}

.m-pointline {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 30px;
  width: 50px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    left: 50%;
    width: 1px;
    background: limegreen;
  }

  &__start {
    position: absolute;
    color: limegreen;
    top: -5px;
    left: -12px;
  }
}

.m-pointline-item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    .m-pointline-item__pointer {
      color: limegreen;

      //			&:after {
      //				border-color: limegreen;
      //			}
      &:before {
        background-color: limegreen;
      }

      &:after {
        border-color: limegreen;
      }
    }

    .m-pointline-item__title {
      opacity: .2;
      background: #08ab7c;
    }

    .m-pointline-item__content {
      opacity: .4;
    }
  }

  &__pointer {
    position: absolute;
    width: 100%;
    height: 23px;
    left: 0;
    top: 38px;
    z-index: 1;

    &:after {
      content: '';

      position: absolute;
      display: block;
      background: white;
      border: 3px solid gray;
      width: 15px;
      height: 15px;

      left: 25px;
      top: 11px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    &:before {
      content: '';

      position: absolute;
      display: block;
      height: 3px;
      right: 0;
      top: 10px;
      left: 25px;
      background: gray;
    }
  }

  &__val {
    position: absolute;
    left: -20px;
    font-size: .875rem;
  }

  &__title {
    background: #5a6268;
    //		background-image: linear-gradient(134deg, #3023AE 0%, #C86DD7 100%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    //		height: 40px;
    font-size: 1.2rem;

    //		display: flex;
    //		justify-content: space-between;

  }

  &__content {
    background: #f1f3fa;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
}







.invalid-list {
  display: flex;
  &__img {
    height: 50px;
    width: 50px;
    margin-right: 30px;
  }
  &__content {
    flex: 1 1 auto;
  }
  &__name {
    margin: 0;
  }
  &__btn {
    min-width: 160px;
  }
}






//html {
//	font-size: 20px;
//	color: black;
//	letter-spacing: 1px;
//}
//body {
////	font-size: 1rem;
////	font-size: 20px;
//	color: black;
//	letter-spacing: 1px;
//}